        .email{
            font-size: 14px;
            font-style: italic;
            text-decoration: underline;
        }
        .work-field{
            color: #707070;
            font-size: 13px;
        }
        .order{
            padding-top:10px;
        }
        .checkbox{
            position: relative;
            left: 10px;
        }
        .product-name-icon{
            position: relative;
            height: 35px;
            width: 35px;
            left: 33px;
            bottom: 12px;
        }
        .fa-star{
            position: relative;
            left: 28px;
            top: 3px;
        }
        .active{
            color: red;
        }
        .plus{
            position: relative;
            left: 25%;
            top: 10px;
        }
        .envelope{
            position: relative;
            left: 40%;
            top: 10px;
        }
        .comment{
            position: relative;
            left: 55%;
            top: 10px;
        }
        .odd {
            background-color: #fafafa;
        }
        .even {
            background-color: #E8E8E8;
        }
        .status-red{
            position: relative;
            left: 35%;
            top: 20px;
            color: darkgray;
        }
        .status-yellow{
            position: relative;
            left: 35%;
            top: 20px;
            color: orange;
        }
        .status-green{
            position: relative;
            left: 35%;
            top: 20px;
            color: darkgreen;
        }
        .diff-status-red:before{
            display: inline-block;
            padding: 0 5px;
            background-color: #c0392b;
            content: "Новая";
        }
        .diff-status-yellow:before{
            display: inline-block;
            padding: 0 5px;
            background-color: #e49708;
            content: "В обработке";
        }
        .diff-status-green:before{
            display: inline-block;
            padding: 0 5px;
            background-color: #1c8c48;
            content: "В работе";
        }

  .changes-table {
    background: #eee;
    padding: 20px;
    transition: all linear 0.25s;
    margin: 0px;
  }

  .table {
    width: 100%;
    margin-bottom: 20px;
    position: relative;
  }

  .table th {
    padding: 8px;
    line-height: 20px;
    text-align: left;
    color: #707070;
    font-size: 14px;
    font-weight: bold;
    }

  tbody {
    font-size: 14px;
  }

  textarea {
    width: 100%;
  }

  .btn {
    line-height: 20px;
    font-size: 13px;
    font-weight: 400;
  }


