<div class="row-fluid">
        <ul class="unstyled orders-list" >
            <li class="order" *ngFor="let item of items; let index=index; let odd=odd; let even=even;" [ngClass]="{ odd: odd, even: even }">
<div class="row-fluid" >
                  <div class="span1" >
                      <input type="checkbox" class="checkbox" value="">
                      <i class="fa fa-star" [class.active]="item.isActive" (click)="item.isActive = !item.isActive;"></i>
                  </div>
                  <div class="span3">
                      <span >{{item.name}}</span><br>
                      <span class="email">
                          <a href title="{{item.email}}" class="text-info" >{{item.email}}</a>
                      </span>
                  </div>
                  <div class="span3">
                      <span> {{item.organization}}</span><br>
                      <span class="work-field"> {{item.work_field_label}}</span>
                  </div>
                  <div class="span1">
                      <span title="Дата обращения">{{item.created_at}}</span>
                  </div>
                  <div class="span1">
                    <span [ngClass]="statuses[item.status]" title="{{item.status_label}}">
                          <i class="fa fa-thumbs-up fa-lg"></i>
                      </span>
                  </div>
                  <div class="span2">
                      <span title="Показать историю" (click)="item.showHistory = !item.showHistory" >
                          <strong>Последнее действие</strong>
                      </span><br>
                      <span></span>
                      <span></span>
                  </div>
              </div>
              <div class="row-fluid">
                  <div class="span1">
                      <span >
                          <img class="product-name-icon" alt="" [src]="products[item.product_name]">
                      </span>
                  </div>
                  <div class="span6">
                      <span *ngIf="item.comment" (click)="item.showFullComment = !item.showFullComment" class="muted">
                        <span *ngIf="!item.showFullComment" title="Показать комментарий" >
                              {{ item.comment | slice:0:80}}{{item.comment.length > 80 ? '...' : ''}}</span>
                          <span *ngIf="item.showFullComment" title="Скрыть комментарий">{{item.comment}}</span>
                      </span>
                  </div>
                  <div class="span2 offset2">
                     <span class="plus" >
                          <i *ngIf="!item.mail_sent" class="fa fa-plus" title="Создать демо-проект" ></i>
                          <i *ngIf="item.mail_sent" class="fa fa-plus" title="Здесь будут название, логин и дата создания"  [ngClass]="letters[item.mail_sent]" ></i>
                      </span>
                      <span class="envelope" >
                           <i class="fa fa-envelope-o"></i>
                           <span> {{item.mails_count}}</span>
                      </span>
                      <span class="comment" >
                            <i class="fa fa-comment-o"></i>
                            <span> {{item.comments_count}}</span>
                      </span>
                  </div>
              </div>
                <history-app *ngIf="item.showHistory" [orderId]="item.id" ></history-app>
            </li>
        </ul>
    </div>
