<div class="row changes-table" >
    <table class="table ">
        <thead>
            <tr>
                <th>Автор</th>
                <th>Дата изменения</th>
                <th>Изменение</th>

            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let item of history" >
                <td>{{item.username}}</td>
                <td>{{item.created_at}}</td>
                <td >
                    <p>Изменен статус:</p>
                    <span [ngClass]="statuses[item.diff.status[0]]"></span>
                    <i class="fa fa-long-arrow-right"></i>
                    <span [ngClass]="statuses[item.diff.status[1]]"></span>
                </td>
            </tr>
            <tr *ngFor="let item of comments">
                <td>{{item.username}}</td>
                <td>{{item.created_at}}</td>
                <td>
                    <p>Добавлен комментарий:</p>{{item.text}}
                </td>
            </tr>

        </tbody>
    </table>
    <div class="clearfix">
        <textarea id="newComment" row="3" placeholder="Текст комментария..."></textarea>
        <button class="btn btn-primary">Добавить комментарий</button>
        <button class="btn btn-danger pull-right">Удалить заявку</button>
    </div>
</div>